@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #000 !important;
}
header {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
    color: beige;
    z-index: 1;
    transition: top 0.5s;
}
header:hover{
    cursor: pointer;
}
header .logo-pricinpal {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin-bottom: 2rem;
}
.logo{
    width: 50%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
.logo img {
    height: 4.8rem;
    width: 9rem;
    margin-left: 15rem;
}
.title {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
.title h1{
    margin-bottom: -8px;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}
.title-span{
    color: white;
    font-size: 1.2rem;
    -webkit-text-stroke: 0.5px #f9d166;
}
.logo-movile{
    visibility: hidden;
    width: 7rem;
    display: flex;
    justify-content: flex-end;
}
.logo-movile i {
    font-size: 4rem;
}
.container {
    gap: 8rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.navegador-container{
    display: flex;
    justify-content: center;
}
.navegador{
    margin-top: 1rem;
    position: fixed;
    top: 5rem;
    height: 1rem;
    z-index: 1;
    transition: top 0.5s;
}
.navegador ul{
    padding-left: 0.8rem;
    padding-right: 1rem;
    list-style-type: none;
    background-color: rgba(65, 65, 65, 0.863);
    display: inline-block;
    border-radius: 2px;
}
.navegador ul li{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    float: left;
}
.navegador ul li a{
    height: 0.7rem;
    color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 1.45rem;
    border-radius: 10px;
    font-weight: 400;
}
.nav-text {
    position: relative;
    display: inline-block;
}
.cartelito {
    width: 120px;
    height: 50px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(100%);
    transform: translateY(50%);
    background-color: rgba(73, 73, 73, 0.493);
    color: white;
    padding: 5px;
    font-size: 12px;
    visibility: hidden;
}

.nav-text:hover .cartelito {
    visibility: visible;
}
.navegador ul li a:hover{
    box-shadow: rgba(0, 0, 0, 0.322) 0px 0px 30px 1px;
    color: rgb(238, 238, 238);
    -webkit-text-stroke: 0.5px #ffffffce;
}
.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons ul{
    background-color: rgba(65, 65, 65, 0.863);
    padding-right: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    right: 31rem;
    border-radius: 5px;
}
.social-icons ul li{
    margin-left: 8px;
    margin-right: 8px;
}
.social-icons ul li a i{
    border-radius: 50px;
    font-size: 1.45rem;
}
.social-icons ul li a i:hover{
    -webkit-text-stroke: 0.5px #ffffffce;
}
.video-text{
    margin-bottom: -6rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    max-height: 500px;
}
.reel{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
.reel video{
    width: 550px;
}
.texto-reel{
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}
.texto-reel p{
    width: 20rem;
}
.containedor {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio h3{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    margin-bottom: -1rem;
    color: antiquewhite;
}
.portfolio h3::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 4.5px;
    background-color: #f1f1f1;
    top: 0.6em;
}
.portfolio h3::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4.5px;
    background-color: #f1f1f1;
    top: 0.6em;
}

.portfolio h3::before{
    right: 170px;
}
.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conjunto{
    margin-top: -3rem;
}
.galeria-img {
    width: 900px;
    height: 450px;
}
.galeria-img:hover{
    cursor: pointer;
}
.nombre-videoclip{
    position: relative;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 3.2rem;
    top: 5rem;
    transition: 0.1s;
    text-align: center;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombre-videoclip h4{
    font-size: 1.6rem;
}
.conjunto:hover .nombre-videoclip{
    visibility: visible;
}
.conjunto:active .nombre-videoclip {
    visibility: visible;
    transition: 0.1s;
}
.icon-youtube{
    position: absolute;
    font-size: 6rem;
    right: 47%;
    transform: translateY(100%);
    z-index: 1;
    color: #ff00009a;
    visibility: hidden;
}
.conjunto:hover .icon-youtube{
    visibility: visible;
    transition: visibility 0.2;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.copy-right {
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    header {
        height: 8vh;
    }
    .logo-pricinpal{
        margin-bottom: 0;
    }
    .logo{
        width: 20%;
    }
    .logo img {
        margin-top: 1rem;
        margin-left: 0;
        height: 3rem;
        width: 6.5rem;
    }
    .title{
        width: 60%;
        margin-left: 0;
    }
    .title h1 {
        margin: 0;
        font-size: 1.5rem;
    }
    
    .title-span {
        font-size: 1rem;
    }
    .logo-movile{
        visibility: visible;
    }
    .container{
        gap: 5.5rem;
    }
    .navegador-container{
        visibility: hidden;
    }
    .navegador ul{
        display: flex;
        flex-direction: column;
    }
    .navegador ul li a {
        font-size: 2rem;
    }
    .social-icons{
        justify-content: flex-start;
    }
    .social-icons ul{
        display: inline-block;
    }
    .social-icons ul li{
        margin-left: 15px;
        margin-right: 15px;
    }
    .social-icons ul li a i{
        font-size: 2rem;
    }
    .nav-text .cartelito {
        width: 100px;
    }
    .video-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
    }
    .reel{
        display: flex;
        width: auto;
    }
    .reel video{
        width:100%;
    }
    
    .texto-reel {
        width: 100%;
        padding: 0;
    }
    .portfolio{
        margin-top: 4rem;
    }
    .galeria{
        margin-top: 3rem;
    }
    .galeria-img {
        width: 100%;
        height: auto;
    }
    
    .nombre-videoclip h4 {
        font-size: 1.2rem;
    }
    
    .icon-youtube {
        font-size: 4rem;
    }
}

/* Media query para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 8vh;
    }
    
    .logo img {
        height: 4rem;
        width: 8rem;
    }
    
    .title h1 {
        font-size: 2.8rem;
    }
    
    .title-span {
        font-size: 1.2rem;
    }
    
    .navegador ul li a {
        font-size: 1.2rem;
    }
    
    .nav-text .cartelito {
        width: 150px;
    }
    
    .reel video {
        width: 70%;
    }
    
    .texto-reel {
        width: 30%;
        padding: 0 1rem;
    }
    
    .nombre-videoclip h4 {
        font-size: 1.6rem;
    }
    
    .icon-youtube {
        font-size: 5rem;
    }
}

