@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

*{
    margin: 0;
    padding: 0;

}
body {
    background-color: black !important;
    color: white;
    font-family: 'Anton', sans-serif;
    position: relative;
}

/* ESTILOS DE LA SECCION HEADER */

header {
    position: relative;
    height: 50vh;
    -webkit-text-stroke: 0.7px #f0790a;
}
header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
header i {
    font-size: 3.6rem;
    padding-left: 1rem;
    
}
header .btn-sound-div{
    position: absolute;
    width: 3rem;
    left: 115rem;
    top: 25rem;
    /*display: flex;
    margin-top: 21rem;
    margin-right: 1rem;
    align-items: flex-end;
    justify-content: flex-end;*/
}
header .btn-sound-div .btn-soundoff{
    font-size: 1.5rem;
    position: absolute;
    right: 0.5rem;
    visibility: hidden;
}
header .btn-sound-div .btn-soundon{
    font-size: 1.5rem;
}
header i:hover{
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    cursor: pointer;
}
header .titulo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25rem;
    width: 40rem;
}

header .titulo-header h1 {
    font-weight: bold;
    font-size: 10rem;
    color: rgba(255, 255, 255, 1);
}
header .titulo-header h1 .title{
    animation-duration: 4s;
}

header .nav-menu{
    margin-left: 8rem;
    bottom: 2rem;
    visibility: hidden;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiamos a flex-start para alinear los elementos en la parte superior */
}

header .nav-menu li {
    list-style: none;
    margin: 5px;
}

header .nav-menu li a{
    width: 800px;
    font-size: 2.8rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
    -webkit-text-stroke: 1.5px #f0790a;
    padding: 5px 10px; /* Agregamos un poco de espaciado interno */
}

header .nav-menu li a:hover{
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    cursor: pointer;
    font-size: 3.5rem;
    width: 1000px;
}


/* ESTILOS DEL FORMULARIO */

.formulario{
    font-family: 'PT Mono', monospace;
}

/* ESTILOS DE LA SECCION TITULO Y LOGO DEL ARTICULO */

.titlo {
    height: 50vh;
    padding-top: 2.5rem;
    padding-left: 1rem ;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}
.titlo h1 {
    font-size: 10rem;
    text-align: center;
    padding-right: 20rem;
}
.titlo h1 .titulo-span {
    color: red;
}
.titlo img {
    padding-left: 10rem;
    height: 25rem;
    width: 45rem;
    z-index: -1;
}
.titulo-hottakes {
    position: relative;
    margin-top: 5rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.titulo-hottakes h3{
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 4rem;
    text-decoration: underline;
}
.titulo-hottakes p{
    max-width: 1200px;
    font-family: 'PT Mono', monospace;
    font-size: 1.5rem;
    text-align: center;
}

/* ESTILOS DE LA SECCION CONTENEDOR  */

.contenedor {
    margin-bottom: -48px;
    background-color: #241f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elemento {
    top: -10rem;
    max-height: calc(100vh - 50px); /* Ajusta aquí el espacio que quieres dejar para el footer */
    overflow: hidden;
    position: relative;
}
.elemento img {
    height: 38rem;
    width: 70rem;
}

.elemento img:hover {
    cursor: pointer;
}
.info{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    width: 100%;
    height: 5rem;
    padding: -10px;
    opacity: 0;
    bottom: -40px;
    transition: 0.5s;
    text-align: center;
}
.info h3{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
}
.elemento:hover .info{
    opacity: 1;
    bottom: 2px;
    text-align: center;
    font-family: 'PT Mono', monospace;
}
.btn-img {
    visibility: hidden;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-img button {
    color: rgb(255, 255, 255);
    background-color: rgba(73, 73, 73, 0.19);
    border: solid #5e5d5d 0.5px;
    border-radius: 7px;
    margin: 1rem;
    width: 40rem;
    height: 6rem;
    font-size: 2.5rem;
    -webkit-text-stroke: 0.8px #000000;
}

.btn-img button:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description {
    color: #ffffff;
    position: relative;
    visibility: hidden;
    border-radius: 10px;
    left: 14rem;
    top: 26rem;
    width: 600px;
    height: 260px;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(185, 185, 185, 0.40);
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 1;
    -webkit-text-stroke: 0.5px #000000;
}
.description p {
    font-size: 1.3rem;
}

.btn-cerrar {
    position: relative;
    left: 96%;
}
.btn-cerrar:hover{
    cursor: pointer;
}

/* ESTILOS DE LA SECCION FOOTER */

.galeria-fotos {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item img {
    max-height: 60rem;
    object-fit: contain;
}
.footer footer {
    margin-top: 3rem;
    background-color: #9b9b9b88;
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #333;
}

.copy-right {
    color: #d5e0d9;
    font-size: 14px;
}


/*Medidas Query */

/* Media query para pantallas pequeñas */


@media (max-width: 768px) {
header {
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-size: cover;
    }
    
header .titulo-header h1 {
    font-size: 3rem;
    text-align: center;
    }
    
header .menu li {
    font-size: 2rem;
    margin: 5rem 0.5rem 0.5rem 0.5rem;
    }
.titlo{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    }
.titlo h2 {
    font-size: 3rem;
    }
    
.titlo p {
    font-size: 1.5rem;
    }
    
.galeria-videos .video-portada a img {
    margin: 1rem;
    padding: 0.5rem;
    width: 20rem;
    }

.galeria-videos .video-portada .info{
        opacity: 1;
        bottom: 0;
        text-align: center;
        font-family: 'PT Mono', monospace;
    }
.footer footer {
    padding: 10px;
    }
    
.social-icons a {
    font-size: 20px;
    }
    
.copy-right {
    font-size: 12px;
    }
}
    
    /* Media query para pantallas medianas y grandes */
@media (min-width: 768px) {
header .titulo-header h1 {
    font-size: 5rem;
    }
    
header .menu li {
    font-size: 2.5rem;
    margin: 8rem 0.5rem 0.5rem 0.5rem;
    }
    
.titlo h2 {
    font-size: 4rem;
    }
    
    .titlo p {
    font-size: 1.7rem;
    }
    
.galeria-videos .video-portada a img {
    margin: 2rem;
    padding: 1rem;
    width: 25rem;
    }
    
.copy-right {
    font-size: 14px;
    }
}